[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-convex-rasterization"]
	path = submodules/diff-convex-rasterization
	url = https://github.com/convexsplatting/diff-convex-rasterization